PORT = 3000

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=tu_contraseña
DB_NAME=mi_base_de_datos
DB_PORT=5432
DB_DIALECT=postgres

# Auth Token Secret
JWT_SECRET=

# DB Initialization Mode
# Set to 'DROP' to natively drop and rebuild all tables, seeding default data.
# Set to 'ALTER' to sync Sequelize model changes nondestructively without seeding.
# Set to 'SAFE' to boot without destructive schema updates natively (Perfect for Production).
DB_SYNC_MODE=DROP