<h1>Welcome to ecommerce home page</h1>

<hr>
<h2>what is working?</h2>
<hr>
<h4>Postgresql database</h3>
<p>Database creation/connection</p>
<p>Table creation/connection</p>
<p>User and Product tables</p>
<p>CRUD operations with PostgreSQL</p>
<p>Handlebars template engine (hbs)</p>
<p>Shopping Cart</p>
<p>Shopping Cart stock validations</p>

<hr>
<h2>What remains to be implemented?</h2>
<hr>

<p>Transaction management with sql queries</p>
<p>Object-Relational Mapping (ORM)</p>
<p>User authentication</p>
<p>Session management</p>
<p>Role management</p>
