<h1>Welcome to ecommerce home page</h1>

<hr>
<h2>what is working?</h2>
<hr>
<h3>Postgresql database</h3>
<p>database creation</p>
<p>table creation</p>
<p>database connection</p>
<p>CRUD operations with PostgreSQL</p>
<p>handlebars template engine (hbs)</p>