<h1>Welcome to ecommerce home page</h1>

<hr>
<h2>what is working?</h2>
<hr>
<p>Users, Products with CRUD operations using json files</p>
<p>handlebars template engine (hbs)</p>
<hr>
<h3>postgresql database</h3>
<p>database creation</p>
<p>table creation</p>
<p>database connection</p>
<p>CRUD operations with PostgreSQL</p>
<p>Products are stored in a PostgreSQL database</p>

<hr>
<h2>CRUD operations</h2>
<p>Users CRUD operations with json file</p>
<p>Users CRUD operations with PostgreSQL</p>
<p>Products CRUD operations with json file</p>
<p>Products CRUD operations with PostgreSQL</p>